@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Primary Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-green: hsl(169, 93%, 11%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Font Variables */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fraunces", serif;

  /* Font Sizes */
  --font-size-lg: 34px;
  --font-size-small: 15px;
  --font-size-xs: 14px;
  --font-size-xxs: 11px;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
  font-family: var(--font-primary);
}

.card {
  border: none;
}

#img-desktop {
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir completamente o contêiner */
}

#sutitle-text {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--dark-grayish-blue);
}

.card-body {
  min-height: 250px; /* Defina o valor conforme necessário */
}

.card-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--very-dark-blue);
  font-size: var(--font-size-lg);
  line-height: 1;
  margin: 16px 0 24px 0;
}

.card-text {
  color: var(--dark-grayish-blue);
  font-size: var(--font-size-small);
  font-weight: 500;
}

#price-title {
  color: var(--dark-cyan);
  font-size: var(--font-size-lg);
  margin: 12px 12px 12px 0 !important;
}

#subtitle-text {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  margin: 8px 0 12px !important;
}

.btn {
  background-color: var(--dark-cyan);
  color: var(--white);
  border: none;
  font-weight: 600;
  font-size: var(--font-size-xs);
  border-radius: 5px;
  padding: 14px 15px;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

/* Footer */
.attribution {
  color: var(--stone-600);
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: var(--rose-800);
}

@media (max-width: 576px) {
  .card {
    padding: 20px;
  }
}
